$main-padding: 16px;
$sidenav-width: 256px;

md-sidenav-layout {
  height: 100vh;

  &:not(.is-small-screen) {
    height: calc(100vh - 64px);
  }

  /deep/ .md-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}

md-sidenav {
  width: $sidenav-width;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  width: calc(100vw - #{$main-padding*2});

  .is-large-screen & {
    width: calc(100vw - #{$main-padding*2} - #{$sidenav-width});
  }
}
