@mixin absolute() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin main-content() {
  @include absolute();

  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  padding: 16px;
  width: 100%;
}
