@import '~@angular/material/core/style/variables';
@import '../../../styles/mixins';

// TODO: Look over these to see if they've been extracted to their own variables file in later version of @angular/material
// TODO: https://github.com/angular/material2/issues/3085
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

md-sidenav-container {
  @include absolute();

  &:not(.hide-drawer) {
    top: $mat-toolbar-height-desktop;

    @media ($mat-xsmall) and (orientation: portrait) {
      top: $mat-toolbar-height-mobile-portrait;
    }

    @media ($mat-small) and (orientation: landscape) {
      top: $mat-toolbar-height-mobile-landscape;
    }
  }
}

md-sidenav {
  width: 256px;
}

main {
  overflow-y: auto;
  @include absolute();

  md-sidenav-container.hide-drawer & {
    top: $mat-toolbar-height-desktop;

    @media ($mat-xsmall) and (orientation: portrait) {
      top: $mat-toolbar-height-mobile-portrait;
    }

    @media ($mat-small) and (orientation: landscape) {
      top: $mat-toolbar-height-mobile-landscape;
    }
  }
}
